@model Sitecore.Project.Website.Models.SubjectDetails

<div>
    <div>
        <div>
            <h3>@Model.Title</h3>
        </div>
        <div>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
