@model Sitecore.Project.Website.Models.ArticleDetails

<div>
    <div>
        <h1> @Model.ArticleTitle </h1>
    </div>
    <div>
        <h5>@Model.ArticlePublishDate</h5>
    </div><br />
    <div>
        @Model.ArticleImage
    </div>
    <div>
        @Model.ArticleDescription
    </div> 
</div>
<br />