@model Sitecore.Project.Website.Models.AuthorDetails
<div>
    <br/>
    <div>
        <h2>@Model.AuthorName</h2>
    </div>
    <div>
        <h5> @Model.AuthorDesignation</h5>
    </div>
    <div>
        @Model.AuthorImage
    </div>
</div>
