@model IEnumerable<Sitecore.Project.Website.Models.Comment>

<!--=========================-->
<!-- Display Comments Section-->
<!--=========================-->
<!-- IEnumerable: read only list-->
<!-- List of Comments -->
<br/>
<div style="margin-left:10px;color:gray;">
    <h6>Comments:</h6>
    @foreach (var commentItem in Model)
    {
        <div>
            <div>@commentItem.CommenterName (@commentItem.CommenterEmail)</div>
            <div>@commentItem.CommenterComments</div>
        </div>
        <br />
    }
</div>
<br/>