@model Sitecore.Project.Website.Models.DeptListingCard

<!-- Note: -->
<!-- Here we Resused the same Entity Model: used for ListingPages-->
<!-- Single Item Card on DepartmeentPage-->
<div>
    <div>
        <a href="@Model.EntityUrl">@Model.EntityName</a>
    </div>
    <div>
        @Model.EntityBrief
    </div>
</div>

